<%- include ('../partials/header.ejs') %>
<h1><%= item.item_name%></h1>
<img src="<%= item.image_url %>" alt="">
<p><%= item.description%></p>
<p>
  <a class="btn btn-success" href="/items/<%= item._id %>/reviews/new">Add new review</a>
</p>

<% item.reviews.forEach(function(review){ %>
<p><%= review.user_name %></p>
<p><%= review.text %></p>
<% }) %>
<%- include ('../partials/footer.ejs') %> 